/********************************* OVERALL STYLING ************************************/
html{ font-family: 'Oxygen', sans-serif; color:#6D6E70; font-size:18px; }

a{
    color: #3c3c3c;
}

.bg-grey{
    background-color: #3c3c3c;
}
.color-white,
.color-white a{
    color: #ffffff;
}

#header-menu ul{
    list-style: none;
    margin: 0;
}
#header-menu ul li{
    position: relative;
    float: right;
    width: auto;
    padding: 5px;
}

#site-logo{
    font-size: 32px;
    font-weight: bold;
}

#site-footer{
    background-color: #eeeeee;
}