/********************************* OVERALL STYLING ************************************/
html{ font-family: 'Oxygen', sans-serif; color:#6D6E70; font-size:18px; }

a{
    color: #3c3c3c;
}

.bg-grey{
    background-color: #3c3c3c;
}
.color-white,
.color-white a{
    color: #ffffff;
}

ul#header-menu{
    list-style: none;
    margin: 0;
}
ul#header-menu li{
    position: relative;
    float: right;
    width: auto;
    padding: 5px;
}

#site-logo{
    font-size: 32px;
    font-weight: bold;
}

#site-footer{
    background-color: #eeeeee;
}

.content-wrapper{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header{
    background-color: #333333;
    color:#ffffff;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header a{
    color: #ffffff;
}
.header .content-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-image{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper{
    padding: 50px 0;
}

.hero-wrapper h1{
    font-size: 20px;
}

.hero-image .hero-wrapper h1{
    color: #ffffff;
}

.page-content{
    padding: 50px 0;
}

footer{
    background-color: #eeeeee;
    padding: 50px 0;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

.show-flex{
    display: flex;
}